.hidden {
    display: none;
}

#main-container {
	width: 700px;
	max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height: 410px;
    max-height: 600px;
    position: relative;
    padding: 5px 10px 10px 10px;
    margin-top: 10%;
    vertical-align: middle;
}

#username-page {
    text-align: center;
    position: relative;
    top: 45%;
    transform: translatey(-50%);
}

#username-form {
	vertical-align: middle;
}

#username-form-label {
	margin-bottom: 20px;
}

#chat-page {
    position: relative;
    height: 100%;
}

#message-area {
	border: 1px solid #c0c0c0;
	margin-bottom: 1em;
	height: 300px;
	overflow: auto;
	overflow-wrap: break-word;
	width: 74%;
	float: left;
}

#user-list {
	border: 1px solid #c0c0c0;
	margin-bottom: 1em;
	height: 300px;
	overflow: hidden;
	width: 25%;
	float: right;
}

.user-list-label{
	float: right;
	margin-top: 20px;	
}
#message-form {
	display: inline-block;
	width: 100%;
}

#message {
	flex: 1 1 auto;
	width: 1%;
}